<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sg280.fotile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission  android:name="android.permission.ACCESS_NETWORK_STATE"  />
    <uses-permission  android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.FTApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

        <activity android:name=".ui.activity.LoginActivity"></activity>
        <activity android:name=".ui.activity.SureOrderActivity"></activity>
        <activity android:name=".ui.activity.StandardChoiceActivity"></activity>
        <activity android:name=".ui.activity.ModifyUserInfoActivity"></activity>
        <activity android:name=".ui.activity.MyOrderActivity"></activity>
        <activity android:name=".ui.activity.MyCouponsActivity"></activity>
        <activity android:name=".ui.activity.MyCollectActivity"></activity>
        <activity android:name=".ui.activity.MessageCenterActivity"></activity>

       <activity android:name=".ui.activity.RegisterActivity"
           android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.FindPwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.LiveActivity"
           ></activity>
    </application>

</manifest>
